/* File : src/app/componentes/Certificaciones.module.css */
/* Contenedor de tecnologías */
.tecnologias-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Chip individual de tecnología */
.tecnologiaChip {
  background: #e0f2fe;
  color: #0369a1;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 0.88rem;
  font-weight: 500;
  display: inline-block;
}

/* Chip de destacado */
.chipDestacado {
  background: #fbbf24;
  color: #78350f;
  border-radius: 10px;
  padding: 3px 11px;
  font-size: 0.98rem;
  font-weight: 600;
  margin-right: 10px;
  display: inline-block;
}

/* Link al repositorio */
.linkRepo {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.98rem;

  border: 1px solid #3b82f6 ;
  border-radius: 10px;
  padding: 3px 10px;
  transition: color 0.2s;
}

.linkRepo:hover {
  color: #1d4ed8;
  text-decoration: underline;
}

.timeline-card {
  display: flex;
  align-items: stretch;
  background: #c3c0c0;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 2px 6px 0 rgba(20, 90, 150, 0.03);
  margin-bottom: 0;
  position: relative;
  min-width: 280px;
  padding: 0; /* removemos el padding general */
  gap: 0;
}

.cuadroIzquierda {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(160deg, #fca311 40%, #4361ee 100%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    min-width: 44px;
    height: 350px;
    width: 400px;
    padding: 10px
}

.cardContenido {
  flex: 1;
  background: #f4f7fa;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imagenProyecto {
  border-radius: 16px;      /* Bordes redondeados */
  padding: 5px;             /* Espaciado interno */
  height: 100%;
  width: 100%;
  object-fit: contain;       /* NO cover */
  box-sizing: border-box;   /* Padding incluido en el tamaño */
  display: block;           /* Imagen como bloque */
  background: #fff;         /* Fondo blanco para padding */
}